body {
  background: linear-gradient(0deg, rgba(250, 229, 37, 0.466)0%, rgba(62, 255, 36, 0.486));
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  text-decoration: rgb(0, 0, 0);
  font-size: 2rem;
  font-style: italic;
}

