:root {
  --font-sie: 1.3rem;
  --cell-color:rgba(1, 95, 158, 0.342);
  --base-unit: 3;
}

ul {
  display: grid;
  gap: calc(var(--base-unit)* 1rem);
  font-size: var(--font-sie);
  line-height: 1;
  grid-template-columns: repeat(var(--base-unit), 1fr);
  list-style: none;
}

li {
  background-color: var(--cell-color);
  border-radius: 10px;
}

li li {
  background-color: rgb(217, 255, 0);
  border-radius: 10px;
}
