body > header {

}

body > header h1 {
  border-block-end: 1px solid #4d4d4d;
}

body > header a {
  display: block;
  color: #ccc;
  font-weight: 700;
  text-decoration: none;
  padding: 0.75rem 0;
}

body > header a:hover {
  color: #fff18f;
  font-weight: 700;
}

body > header nav {
  font-size: 1rem;
}

body > header h1 {
  font-size: 1.25rem;
}

body > header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body > header li {
  border-block-end: 1px solid #4d4d4d;
}

body > header {
  display: grid;
  grid-template-columns:  repeat(6, 150px);
  column-gap: 15px;
  grid-column-start: 1;
  grid-column-end: 7;
}

header ul {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  column-gap: 15px;
  margin-left : 45px;
}

header nav {
  grid-column-start: 2;
  grid-column-end: 7;
  margin-top: 2rem;
}

/*
header > nav li:nth-of-type(1) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
header > nav li:nth-of-type(2) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}
header > nav li:nth-of-type(3) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}
header > nav li:nth-of-type(4) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 6;
}
header > nav li:nth-of-type(5) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 6;
  grid-column-end: 7;
} */
