.post {
  display: grid;
  grid-template-areas:
"header header header header header header"
"footer content content content content content"
"footer content content content content content"
}

.post a {
  color: #f2f2f2;
}

.post header {
  grid-area: header;
}

.post_content {
grid-area: content;
}

.post header {
  grid-column-start: 2;
  grid-column-end: 7;
}

/* This element doubles as the post meta block. Links, metadata, etc */
.post footer {
  font-size: 0.75rem;
  grid-area: footer;
}

.post_date {
  margin: 0;
}

.post_categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post_categories li {
  display: inline;
}

.post_categories li:not(:last-child)::after {
  content: ',';
}

.post_categories li,
.post footer a {
  color: #fff18f;
  text-decoration: none;
}

.post_sharing {
  position: relative;
  padding-top: 0.75rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.post_sharing p {
  margin: 0;
}

.post_sharing::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 1rem;
  height: 1px;
  background-color: #4d4d4d;
}

.post:nth-of-type(2n) .image-half {
  float: left;
  margin-inline-end: 15px;
}

.post:nth-of-type(2n+1) .image-half {
  float: right;
  margin-inline-start: 15px;
}
