/* Set up */
.centred {
  background-color: rgba(223, 127, 31, 0.5);
  padding: 1rem;
  color: #fff;
  font-weight: bold;
}

.centred > * {
  margin: 0;
  background-color: inherit;
  padding: 1rem;
}

/* 4 */
[data-example="4"] {
display: flex;
flex-direction: column;
justify-content: center;
}
[data-example="4"] > .centred {
  display: flex;
  justify-content: center;
}

/* 5 */
[data-example="5"] {
display: inline-block;
}
[data-example="5"] > .centred {
margin-block-start: 2.5rem;
}
[data-example="5"] p {
  display: inline-block;
}

/* 6 */
[data-example="6"] {

}
[data-example="6"] > .centred {

}
[data-example="6"] p {

}
