/* Set up */
.columns > * {
  padding: 1rem;
  color: #fff;
  background-color: rgba(var(--article-elem-color), var(--article-bg-transparency));
}

.columns > * * {
  background-color: inherit;
  margin: 0;
  padding: inherit;
}

.columns article {
  --article-elem-color: 63, 191, 63;
}

.columns aside {
  --article-elem-color: 191, 63, 63;
}

/* 7 */
[data-example="7"] .columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
[data-example="7"] article {
  height: 155%;
}
[data-example="7"] aside {
  height: 155%;
}



/* 8 */
[data-example="8"] .columns {
  display: flex;
  flex-direction: row;
}
[data-example="8"] {
  flex-direction: column;
  justify-content: stretch;
  flex-grow: 2;
}
[data-example="8"] article {
  align-self: stretch;
  flex-grow: 1;
}
[data-example="8"] aside {
  align-self: stretch;
  flex-grow: 1;
}



/* 9 */
[data-example="9"] {

}
[data-example="9"] .columns {
  columns: 2;
}
[data-example="9"] article {

}
[data-example="9"] aside {

}
