@import "setup.css";
/*
Images in context
*/

section:nth-of-type(1) img[alt="Inspector Gadget"] {
  float: left;
  margin-right: 2rem;
}

section:nth-of-type(1) img[alt="Inspector Gadget"] ~ p {
  clear: right;
}

section:nth-of-type(1) img[alt="Dr. Claw"] {
  float: right;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

section:nth-of-type(1) img[alt="Dr. Claw"] ~ p {
  clear: left;
  padding-top: 2rem;
}









/*
Images in a columm
*/

section:nth-of-type(2) img[alt="Inspector Gadget"] {
  float: left;
}

section:nth-of-type(2) .container  div:nth-of-type(1) {
  overflow: auto;
}

section:nth-of-type(2) img[alt="Inspector Gadget"] ~ p {
  margin-inline-start: 16rem;
}

section:nth-of-type(2) .container > div:nth-of-type(2) {
  overflow: auto;
}

section:nth-of-type(2) img[alt="Dr. Claw"] {
  clear: both;
  float: left;
}

section:nth-of-type(2) img[alt="Dr. Claw"] ~ p {
  margin-inline-start: 16rem;
}




/*
Float-based layouts
*/

.navigation {
  float: left;
}

.sidebar {
  clear: right;
  float: right;
}

/*
Row-based layouts
*/


header h3 {
  margin: 0;
  line-height: 36px;
  float: left;
  margin-bottom: 1rem;
}

.form_toolbar {
  float: right;
  line-height: 2;
  margin-top: 2px;
}

.form_row {
  clear: both;
}

.form_row label {
  text-align: right;
  float: left;
  width: 8rem;
  line-height: 3.5rem;
  margin-inline-end: 1rem;
}

.field {
  margin: 1rem;
}

.form_actions {
  margin-inline-start: 9rem;
}
