@import "setup.css";
/*
Images in context
*/

\section:nth-of-type(1) img[alt="Inspector Gadget"] {
  float: left;
  margin-right: 2rem;
}

section:nth-of-type(1) img[alt="Inspector Gadget"] ~ p {
  clear: right;
}

section:nth-of-type(1) img[alt="Dr. Claw"] {
  float: right;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

section:nth-of-type(1) img[alt="Dr. Claw"] ~ p {
  clear: left;
  padding-top: 2rem;
}









/*
Images in a columm
*/

section:nth-of-type(2) img[alt="Inspector Gadget"] {
  float: left;
}

section:nth-of-type(2) .container  div:nth-of-type(1) {
  overflow: auto;
}

section:nth-of-type(2) img[alt="Inspector Gadget"] ~ p {
  margin-inline-start: 16rem;
}

section:nth-of-type(2) .container > div:nth-of-type(2) {
  overflow: auto;
}

section:nth-of-type(2) img[alt="Dr. Claw"] {
  clear: both;
  float: left;
}

section:nth-of-type(2) img[alt="Dr. Claw"] ~ p {
  margin-inline-start: 16rem;
}




/*
Float-based layouts
*/

.navigation {
  float: left;
}

.sidebar {
  clear: right;
  float: right;
}

/*
Row-based layouts
*/

.form_toolbar > button {

}

.form_row label[for="field_title"] {
}


/*

button {
  margin-block-start: 1rem;
  margin-inline-end: 8rem;
}

label {
  margin-left: -18rem;
}
 */
