.icon {
  display: inline-block;
  border: 1px solid;
  padding: 1rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(105, 105, 102);
}

.icon_left {
  position: relative;
  font-weight: bold;
  padding-left: 3rem;
}

.icon_left::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  margin-top: -0.75rem;
  left: 0.75rem;
  display: block;
  border-radius: 50%;
  background-size: 100%;
  background-image: url(../icon-facebook.png);
}

.icon_right {
  position: relative;
  font-weight: bold;
  padding-right: 3rem;
}

.icon_right::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  line-height: 1rem;
  position: absolute;
  top: 50%;
  margin-top: -0.75rem;
  right: 0.75rem;
  border-radius: 50%;
  background-size: 100%;
  background-image: url(../icon-facebook.png);
}
