.a11y {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.progress_indicator {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
1. Back links - has an anchor
2. Current syep - has bold
3. Future steps - spans
*/

.progress_indicator li > * {
  display: block;
  padding: 1rem;
  color: black;
  padding-inline-start: 3rem;
  position: relative;
}

.progress_indicator li > *::before {
  content: counter();
  padding-inline-start: 3rem;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  margin-top: -0.75rem;
  line-height: center;
  font-size: 1rem;
  border-radius: 50%;
}

/* Back links, or previous steps */
.progress_indicator a::before {
  text-decoration: none;
}

/* Current step */
.progress_indicator  b {

}

.progress_indicator  b::before {
  background-color: coral;
}

/* Future step */
.progress_indicator span {
  opacity: 0.75;
}

.progress_indicator span::before {
  background-color: crimson;
  color: aliceblue;
}

.progress_indicator::after {
  content: '';
  width: 0.25rem;
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  background-color: #ccc;
  margin-inline-start: -0.125rem;
}




/*
.progress_indicator {
  list-style: none;
  counter-reset: step;
  display: flex;
  padding: 2rem;
  border: 1px solid black;
  border-bottom-left-radius: 1px;
  background-color: rgba(251, 255, 0, 0.493);
}

.progress_indicator li a {
  color: rgb(0, 17, 255);
  text-decoration: white;
  font-family: sans-serif;
}

.progress_indicator li {
  flex: 1;
  display: flex;
  list-style: none;
  text-align: center;
  position: relative;
  flex-direction: column;
}

.progress_indicator > li::before {
  width: 3em;
  height: 3em;
  line-height: 3em;
  align-self: center;
  border: 1px solid black;
  border-radius: 100%;
  content: counter(step);
  counter-increment: step;
  color: rgb(3, 11, 128);
  background: rgba(42, 177, 255, 0.986);
}

.progress_indicator > li:not(:last-child) ::after {
  left: 50%;
  top: 1.5em;
  content: '';
  height: 2px;
  width: 16rem;
  z-index: -1;
  position: absolute;
  background: rgb(1, 34, 128);
  height: 02rem;
  background-color: rgb(43,194,83);
}

.progress_indicator li {
  list-style: none;
  position: relative;
  flex: 2;
  flex-direction: column;
  text-align: center;
  display: inline-block;
}

section {
  counter-reset: major-clause;
}

.progress_indicator > li::before {
  counter-increment: major-clause;
  content: counter(major-clause) " ";
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2rem;
  background-color: coral;
}

li:not(:last-child) {
  margin-inline-end: 2rem;
}

