.progress_indicator {
  list-style: none;
  counter-reset: step;
  display: flex;
  padding: 2rem;
  border: 1px solid black;
  border-bottom-left-radius: 1px;
  background-color: rgba(251, 255, 0, 0.493);
}

.progress_indicator li a {
  color: rgb(0, 17, 255);
  text-decoration: white;
  font-family: sans-serif;
}

.progress_indicator li {
  flex: 1;
  display: flex;
  list-style: none;
  text-align: center;
  position: relative;
  flex-direction: column;
}

.progress_indicator > li::before {
  width: 3em;
  height: 3em;
  line-height: 3em;
  align-self: center;
  border: 1px solid black;
  border-radius: 100%;
  content: counter(step);
  counter-increment: step;
  color: rgb(3, 11, 128);
  background: rgba(42, 177, 255, 0.986);
}

.progress_indicator > li:not(:last-child) ::after {
  left: 50%;
  top: 1.5em;
  content: '';
  height: 2px;
  width: 16rem;
  z-index: -1;
  position: absolute;
  background: rgb(1, 34, 128);
  height: 02rem;
  background-color: rgb(43,194,83);
}

.progress_indicator li {
  list-style: none;
  position: relative;
  flex: 2;
  flex-direction: column;
  text-align: center;
  display: inline-block;
}

section {
  counter-reset: major-clause;
}

.progress_indicator > li::before {
  counter-increment: major-clause;
  content: counter(major-clause) " ";
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2rem;
  background-color: coral;
}

li:not(:last-child) {
  margin-inline-end: 2rem;
}

