h1 {
  font-family: ;
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  font-style: italic;
  text-shadow:  1px 1px 2px red, 0 0 1em blue, 0 0 0.2em;
}

main {
  background-color: black;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: inset 2px 2px 30px orangered;
}

main {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 1px coral;
}

li {
  list-style: none;
}
