main > header {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/bg_desktop.jpg);
  background-repeat: no-repeat;
  font-family: sans-serif;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-block-start: 8rem;
  padding-block-end: 8rem;

}

body > header {
  text-align: center;
  float: left;
}

h1 a {
  color: white;
  text-decoration: white;
  font-size: 2rem;
}

header p a {
  color: white;
  text-decoration: white;
}

main h2 {
  text-align: center;
  padding: 0;
}

 header h1 {
  padding: 0;
  margin-inline-start: 0;
  padding-inline-start: 0;
 }

