/* Let's set any general defaults here: */
@import "defaults.css";


/* The site name and layout for the header */
@import "header.css";


/* The handling of links for the site nav */
@import "nav.css";


/* Main masthead */
@import "masthead.css";


/* Main content */
@import "article.css";


/* The copyright and social layout for the footer */
@import "footer.css";


/* Icons we use */
@import "icons.css";

.icon {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  text-indent: -9999px;
}

.icon[href^="https://twitter"] {
  background-image: url('../images/icon-twitter.png');
}

.icon[href^="https://facebook"] {
  background-image: url('../images/icon-facebook.png');
}

.icon[href^="https://github"] {
  background-image: url('../images/icon-github.png');
}
