/* Let's set any general defaults here: */
@import "defaults.css";
main > header > h2 {
  color: white;
  text-decoration: white;
  font-size: 4rem;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}

body {
  border: solid 1px;
}

main > article {
  text-align: center;
  margin: 3rem;
}

p:nth-child(1) a {
  font-weight: bold;
  color: rgb(2, 0, 0);
  text-decoration: rgb(3, 0, 0);
}

section:last-child {
  border-bottom: solid 0.5px;
}

section:nth-child(3) {
  border-bottom: solid 0.5px;
}

/* The site name and layout for the header */
@import "header.css";
main > header {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/bg_desktop.jpg);
  background-repeat: no-repeat;
  font-family: sans-serif;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 14rem;
}

body > header {
  display: flex;
  flex-direction: column;
}

h1 a {
  color: white;
  text-decoration: white;
  font-size: 2rem;
}

header p a {
  color: white;
  text-decoration: white;
}

header p {
  margin-block-end: 0rem;
  margin-block-start: 0rem;
}

main h2 {
  text-align: center;
  padding: 0;
}

 header h1 {
  margin-block-end: -11rem;
 }

/* The handling of links for the site nav */
@import "nav.css";

header > nav  a {
  text-transform: uppercase;
  font-size: 1rem;
}

#section-nav a {
  color: white;
  text-decoration: white;
  margin-inline-end: 2rem;
}

ul {
  list-style: none;
}

body > nav {
  text-align: center;
  display: flex;
}

#section-nav {
  margin-block-end: -6.1rem;
}

/* Main masthead */
@import "masthead.css";




/* Main content */
@import "article.css";




/* The copyright and social layout for the footer */
@import "footer.css";
/*
let the footer elem manage the spacing .
we'll be using `display:inline*`
*/

footer {
  text-align: center;
  padding-block-start: 6rem;
  padding-block-end: 6rem;
}
/*

*/
footer ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 2rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0;
}
/*
Get ride of the douted lists by using the list-style none.
*/
footer li {
  display: inline;
}

footer li:not(:first-child):not(:last-child) {
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
}

/* Icons we use */
@import "icons.css";
.icon {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  text-indent: -9999px;
}

.icon[href^="https://twitter"] {
  background-image: url('../images/icon-twitter.png');
}

.icon[href^="https://facebook"] {
  background-image: url('../images/icon-facebook.png');
}

.icon[href^="https://github"] {
  background-image: url('../images/icon-github.png');
}
