/*
  Property name
  Property description
*/
/*
  Property example with a value
*/


/*
  Questions
  =======================

  - What is the difference between `opacity` and a `background-color` that is semi-transparent?
  - What is the difference between `display: none;` and `visibility: hidden;`?
  - Why would we use `visibility: visible;`?

*/

/*
  Property name: Opacity
  Property description: The opacity property specifies the opacity/transparency of an element.
*/
/*
  Property example with a value:
*/
body > header > p0 {
  opacity: inherit;
}

/*
  Property name: Display
  Property description: The display property specifies the display behavior of an element. It sets the position of the text or the characters how it should be displayed.
*/
/*
  Property example with a value:
*/
body > header > p {
  display: table-footer-group;
}

/*
  Property name: Visibility
  Property description: The visibility property specifies whether or not an element is visible.
*/
/*
  Property example with a value:
body > header > p1 {
  visibility: visible;
}
*/

body > header > p1 {
  display: none;
}

body > header > p3 {
  visibility: visible;
}

/*
The difference between opacity and a background-color that is semi-transparent.
Using the OPACITY property to add transparency to the background of an element makes all of its child elements transparent as well.This can make the text inside a fully transparent element hard to read. If you do not want to apply opacity to child elements, use RGBA color values instead . This keeps the text still readable.
BACKGROUND-COLOR that is semi-transparent: The background property is assigned an RGBA color value so that we can control its opacity. The color of the background is white with 50% opacity.
*/
/*
The difference between display: none; and visibility: hidden;
Display: none = It hides and removes an element from the document layout!
visibility: hidden displays the element by hiding it, but it still takes up space in the layout.
*/
/*
Because it helps us to make the hidden element visible and readable from the layout.
*/
