@import "components/defaults.css";
@import "components/header.css";
@import "components/gallery.css";
@import "components/footer.css";

header {
  display: grid;
  grid-gap: 15px;
	gap: 15px;
  grid-template-columns: 3rem;
  grid-template-rows: 5rem;
}


header h1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

nav li:nth-of-type(1) {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

nav li:nth-of-type(2) {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

nav li:nth-of-type(3) {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

nav li:nth-of-type(4) {
  grid-row: 1 / 2;
  grid-column: 5 / 6;
}

nav li:nth-of-type(5) {
  grid-row: 6 / 7;
  grid-column: 1 / 2;
}
