h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  color: orangered;
  text-shadow: 4px 4px 5px blue;
  text-align: center;
  color: rgb(0, 0, 0);
}

li {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  color: white;
  list-style: none;
  margin: 1rem;
  line-height: 1.3;
}

li li {
  color: rgb(255, 81, 0);
  font-family: 'Times New Roman', Times, serif;
}

section:nth-of-type(1) {
  border-radius: 1rem;
  background-color: black;
  padding: 1rem;
  margin: 1rem;
}
section:nth-of-type(2) {
  border-radius: 1rem;
  background-color: black;
  padding: 1rem;
  margin: 1rem;
}
section:nth-of-type(3) {
  border-radius: 1rem;
  background-color: black;
  padding: 1rem;
  margin: 1rem;
}
