section:nth-of-type(2) .container {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

section:nth-of-type(2) .container .circle:nth-of-type(1) {
  position: absolute;
  right: -50%;
  bottom: -50%;
  width: 100%;
}
section:nth-of-type(2) .container .circle:nth-of-type(2) {
  position: absolute;
  right: -50%;;
  top: -50%;
  width: 100%;
}
section:nth-of-type(2) .container .circle:nth-of-type(3) {
  position: absolute;
  left: -50%;
  bottom: -50%;
  width: 100%;
}
section:nth-of-type(2) .container .circle:nth-of-type(4) {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 100%;
}
